{% extends 'base.html.twig' %}

{% block title %}Driver index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Manage drivers</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-sm btn-outline-primary float-right" href="{{ path('app_driver_new') }}"> 
                    New driver
                </a>
            </div>
            <div class="card-body overflow-auto">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Marital Status</th>
                <th>License Number</th>
                <th>License State</th>
                <th>License Status</th>
                <th>License Effective Date</th>
                <th>License Expiration Date</th>
                <th>License Class</th>
                <th style="width:185px">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.firstName }}</td>
                <td>{{ driver.lastName }}</td>
                <td>{{ driver.age }}</td>
                <td>{{ driver.gender }}</td>
                <td>{{ driver.maritalStatus }}</td>
                <td>{{ driver.licenseNumber }}</td>
                <td>{{ driver.licenseState }}</td>
                <td>{{ driver.licenseStatus }}</td>
                <td>{{ driver.licenseEffectiveDate ? driver.licenseEffectiveDate|date('Y-m-d') : '' }}</td>
                <td>{{ driver.licenseExpirationDate ? driver.licenseExpirationDate|date('Y-m-d') : '' }}</td>
                <td>{{ driver.licenseClass }}</td>
                <td>
                    <form method="post" style="float: right;" action="{{ path('app_driver_delete', {'id': driver.id}) }}" onsubmit="return confirm('Do you confirm deletion of this driver?');">
                        <a class="btn btn-sm btn-info" href="{{ path('app_driver_show', {'id': driver.id}) }}">Show</a>
                        <a class="btn btn-sm btn-success" href="{{ path('app_driver_edit', {'id': driver.id}) }}">Edit</a>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driver.id) }}">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 </div>
        </div>
    </div>
{% endblock %}
