{% extends 'base.html.twig' %}

{% block title %}Driver{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Driver</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-sm btn-outline-primary float-right" href="{{ path('app_driver_index') }}"> 
                    Driver list
                </a>
            </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver.id }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ driver.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ driver.lastName }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ driver.age }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ driver.gender }}</td>
            </tr>
            <tr>
                <th>Marital Status</th>
                <td>{{ driver.maritalStatus }}</td>
            </tr>
            <tr>
                <th>License Number</th>
                <td>{{ driver.licenseNumber }}</td>
            </tr>
            <tr>
                <th>License State</th>
                <td>{{ driver.licenseState }}</td>
            </tr>
            <tr>
                <th>License Status</th>
                <td>{{ driver.licenseStatus }}</td>
            </tr>
            <tr>
                <th>License Effective Date</th>
                <td>{{ driver.licenseEffectiveDate ? driver.licenseEffectiveDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>License Expiration Date</th>
                <td>{{ driver.licenseExpirationDate ? driver.licenseExpirationDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>License Class</th>
                <td>{{ driver.licenseClass }}</td>
            </tr>
        </tbody>
    </table>

    <div class="card">
            <div class="card-header">
    <a class="btn btn-sm btn-success" href="{{ path('app_holder_edit', {'id': driver.id}) }}">Edit</a>

     {{ include('driver/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    </div>
{% endblock %}
